@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@700&display=swap');

body {
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #fff ;
}

* {
	box-sizing: border-box;
	margin: 0;
}

.container {
	max-width: 100% ;
	margin: 0 ;
}

header .row {
	justify-content: space-between;
	align-items: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

header {
	position: absolute;
	left: 0px ;
	right: 50px ;
}

header .logo {
	color : #fff ;
	font-weight: 600 ;
	margin-left: 43px ;
	font-size: 40px ;
}

header ul {
	list-style: none ;
	margin: 0;
}

header ul li {
	display: inline-block;
	margin: 15px;
	padding-left: 35px ;
	line-height: 7.2 ;
}

header .nav-links a {
	text-decoration: none ;
	font-size: 16px ;
	padding: 5px ;
	font-weight: 600 ;
	color : #002B4B ;
	transition: .5s ease ;
}

header .nav-links a:hover {
	border-radius: 30% ;
	border: 2px solid #002B4B;
}

.home {
	border-bottom-right-radius:10px ;
	border-bottom-left-radius: 10px ;
	background-color: #002B4B ;
	background-image: linear-gradient(to bottom right, #002B4B, #FFFFFA)
	height: 670px ;
}

.home .info{
	position: absolute;
	top: 30% ;
	left: 10% ;
	margin-bottom: 10px ;
	font-family: 'Hind Vadodara', sans-serif;
}

.home .info h1 {
	font-size: 56px ;
	font-weight: 600 ;
	color : #ffffff ;
}

.home .info p {
	font-weight: lighter;
	font-size: 23px ;
	color: #fff ;
}

.home .info h2 {
	font-weight: 600 ;
	font-size: 30px ;
	color : #ffffff;
}

.login-btn {
	position: relative;
	text-decoration: none ;
	margin : 27px ;
	padding: 10px 30px ;
	background-color: transparent;
	color : #ffffff;
	border: 2px solid #ffffff ;
	border-radius: 30px ;
	display: inline-block;
	transition: 1s ease ;
}

.signup-btn {

	position: relative;
	text-decoration: none ;
	margin : 27px ;
	padding: 10px 30px ;
	background-color: transparent;
	color : #ffffff;
	border: 2px solid #ffffff ;
	border-radius: 30px ;
	display: inline-block;
	transition: 1s ease ;
}

.login-btn:hover {
	background-color: #fff;
	color : #00508C;
	border: 2px solid #00508C ;
}



.signup-btn:hover {
	background-color: #fff;
	color : #00508C;
	border: 2px solid #00508C ;
}

.popup {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100% ;
	height: 100% ;
	top: 0;
	justify-content: center;
	align-items: center;
	display: none;
	transition: 1s ease;
}

.popup-content {
	width:600px ;
	height: 450px ;
	background-color: #ffffff ;
	padding : 20px ;
	border-radius: 7px ;
	position: relative;
}

input {
	display: block ;
	margin: 30px auto ;
	padding: 10px ;
	width : 50% ;
	border-radius: 6px ;
	border: 1px solid gray ;
}

.fa-user {
	position: relative;
 	font-size: 150px ;
 	left: 35% ;
 	color: #002B4B ;
}

.fa-times-circle {
 	position: absolute; ;
 	font-size: 50px ;
 	right: 10px ;
 	top : 10px ;
 	color: #002B2B ;
}

.login-btn2{
 	position: relative;
 	left: 42% ;
 	text-decoration: none ;
 	padding: 7px 15px;
 	border: 2px solid #002B4B ;
 	border-radius: 30% ;
 	color : #002B4B ;
 	transition: 1s ease ;
}

 .login-btn2:hover {
 	background-color: #002B4B ;
 	color : #ffffff ;
 }


 .Registration-content{
   background-color: white;
   width: 600px;
   margin-left: 450px;
   font-size: 18;
   padding: 20px;
	 border: 2px;
   border-radius: 20px;
	 position: relative;

 }
 .Registration{
	position: absolute;
 	background-color: rgba(0, 0, 0, 0.6);
 	width: 100% ;
 	height: 100% ;
 	top: 0;
 	justify-content: center;
 	align-items: center;
 	display: none;
 	transition: 1s ease;

 }

 #Register{
   margin-left: 50px;
 }

 label{
 color: white;
 font-family: sans-serif;
 font-size: 18px;
 font-style: italic;
 }

 #select{
   width: 65px;
	 margin-left: 140px;
   border: 2px static;
   border-radius:5px;
   outline: 0px;
   padding: 7px;
 }
 #number{
   border: 2px static;
   border-radius: 5px;
   outline: 0px;
   padding: 7px;
	 margin-left: 140px;
 }
 .signup-btn2{
	padding: 7px 15px;
	border: 2px solid #002B2B;
	border-radius: 30%;
	text-decoration: none;
	color: #002B2B;
	position: relative;
	left: 42%;
	transition: 1s ease;

 }

 .signup-bnt2:hover{
	 background-color: #002B2B;
		color: #ffffff;

 }
